.card {
  display: flex;
  margin-left: 5%;
  justify-content: space-evenly;
  margin-bottom: 5%;
  margin-top: 3%;
  overflow-x: scroll;
  overflow-y: hidden;
  // white-space: nowrap;

  &--2 {
  }

  &__box {
    border: 1px solid green;
    border-radius: 12px;
    width: 20%;
    margin-bottom: 5%;
    padding: 1%;
  }

  &__avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 5px;
  }

  &__sub-box {
    display: flex;
    align-items: center;
  }

  &__txt {
    margin-bottom: 5px;
    color: black;
  }
}
